<div class="table-responsive">
  <table class="table table-sm table-striped table-hover">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>
          <input type="button" class="btn btn-primary btn-sm float-right" (click)="onAdd()" [disabled]="busy"
            value="Add" />
          <input type="button" class="btn btn-secondary btn-sm float-right mr-1" (click)="onRefresh()" [disabled]="busy"
            value="Refresh" />
          <div class="spinner float-right mr-1" [ngClass]="{'invisible': !busy}"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons">
        <td>{{person.firstName}} {{person.lastName}}</td>
        <td>{{person.email}}</td>
        <td>{{person.mobilePhone}}</td>
        <td>
          <input type="button" class="btn btn-primary btn-sm float-right" (click)="onEdit(person)" [disabled]="busy"
            value="Edit" />
          <input type="button" class="btn btn-danger btn-sm float-right mr-1" (click)="onDelete(person)"
            [disabled]="busy" value="Delete" />
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination *ngIf="totalCount" [(page)]="pageNumber" [pageSize]="pageSize" [collectionSize]="totalCount"
    (pageChange)="onRefresh()" [maxSize]="5" [rotate]="true"></ngb-pagination>
</div>
