<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h5 class="modal-title">{{editMode ? 'Edit' : 'Add'}} Person</h5>
    <button type="button" class="close" [disabled]="busy" (click)="onDismiss()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-row form-group">
      <label class="col-4 col-form-label text-right" for="firstName">First Name</label>
      <div class="col-8">
        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="person.firstName" required
          maxlength="50" ngbAutofocus />
      </div>
    </div>

    <div class="form-row form-group">
      <label class="col-4 col-form-label text-right" for="lastName">Surname</label>
      <div class="col-8">
        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="person.lastName" required
          maxlength="50" />
      </div>
    </div>

    <div class="form-row form-group">
      <label class="col-4 col-form-label text-right" for="email">Email</label>
      <div class="col-8">
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="person.email" required
          maxlength="256" email />
      </div>
    </div>

    <div class="form-row form-group">
      <label class="col-4 col-form-label text-right" for="mobilePhone">Mobile Phone</label>
      <div class="col-8">
        <input type="tel" class="form-control" id="mobilePhone" name="mobilePhone" [(ngModel)]="person.mobilePhone"
          required maxlength="10" pattern="0[45]\d{8}" />
      </div>
    </div>

    <div class="text-center">
      <small class="text-muted">All fields are required.</small>
    </div>

    <div *ngIf="failed" class="text-danger text-center">
      <small>Sorry, there was an error processing your request.</small>
    </div>
  </div>

  <div class="modal-footer">
    <div class="spinner" [ngClass]="{'invisible': !busy}"></div>
    <button type="button" class="btn btn-secondary" [disabled]="busy" (click)="onDismiss()">Cancel</button>
    <button class="btn btn-primary" [disabled]="f.invalid || busy">{{editMode ? 'Save' : 'Add'}}</button>
  </div>
</form>