<div class="container">
  <h2 class="text-center mt-2">
    CRUD Demo
  </h2>
  <hr />
  <div class="mb-3">
    <input type="button" class="btn btn-primary" (click)="onGenerate()" value="Generate 10 Records" />
  </div>
  <app-person-list #list></app-person-list>
</div>
