<div>
  <div class="modal-header">
    <h5 class="modal-title">{{options.title}}</h5>
    <button type="button" class="close" (click)="onNo()">
      <span>&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p>{{options.text}}</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn" [ngClass]="options.noClass" (click)="onNo()">{{options.noText}}</button>
    <button type="button" class="btn" [ngClass]="options.yesClass" (click)="onYes()" ngbAutofocus>{{options.yesText}}</button>
  </div>
</div>